# Ignorar chaves e credenciais
js/config/serviceAccountKey.json
.env
.env.local
.env.*.local

# Ignorar a pasta node_modules
node_modules/

# Ignorar arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de IDE
.idea/
.vscode/
*.swp
*.swo